<!-- 
/**
 * 
 * I declare that this code was written by me, 20018528. 
 * I will not copy or allow others to copy my code. 
 * I understand that copying code is considered as plagiarism.
 * 
 * Student Name: Matthew Ong
 * Student ID: 20018528
 * Class: FYP
 * Date created: 2022-May-04 00:42:50 pm
 * 
 */ -->

<!DOCTYPE html>
<html>
   <head>
      <title>Google Charts Tutorial</title>
<meta charset="UTF-8">

      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
     
      </head>
 <body style="background-color:#FFFACD;">
	<div th:replace="fragments/header"></div>
	<div class="container">
		<main class="btn-text-center">
			<div class="h1">Employee Smoker Percentage</div>
			<div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
			<table class="table table-bordered table-hover btn-text-center">
				<thead class="table-primary">
					<tr>
						<th>Non-Smokers total</th>
						<th>Smokers total</th>
						<th>Total count</th>

					</tr>
				</thead>
				<tbody class="table-light">
					<tr>
						<td id="totalNS" th:text="${totalNS}"></td>					
						<td id="totalSM" th:text="${totalSM}"></td>
						<td th:text="${overallTotal}">
				</tbody>
			</table>
			</main>
			<!--  <a href="#" class="btn btn-danger w3-button w3-orange">Pie Chart</a>--><br><br>
			
			    <h1>Bar Chart</h1>
			    

		<div id="barchart" style = "width: 550px; height: 400px; margin: 0 auto">
      </div>
           <script type="text/javascript">
                
            google.charts.load('current', {packages: ['corechart']});
            google.charts.setOnLoadCallback(drawChart);   
            
    	var NS = document.getElementById("totalNS").innerHTML;
		var SM = document.getElementById("totalSM").innerHTML;
		
         function drawChart() {
            // Define the chart to be drawn.
  
            
        var NS = [(${totalNS})];
  		var SM = [(${totalSM})];

  		
            var data = google.visualization.arrayToDataTable([
               ['Patients', 'Smoker/Non-smoker'],
               ['Non-Smoker',  NS],
               ['Smoker',  SM],
            ]);

            var options = {title: 'Smoker/Non-Smoker chart'}; 

            // Instantiate and draw the chart.
            var chart = new google.visualization.PieChart(document.getElementById('barchart'));
            chart.draw(data, options);
         }
         
      </script>
  
			
			
		
		<div th:replace="fragments/footer"></div>
	</div>
</body>
</html>