<!-- /**
 * 
 * I declare that this code was written by me, 20008933. 
 * I will not copy or allow others to copy my code. 
 * I understand that copying code is considered as plagiarism.
 * 
 * Student Name: Samia Afrin
 * Student ID: 20008933
 * Class: FYP
 * Date created: 2022-May-04 02:02:18 
 * 
 */ -->

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>CorpHAS - View Items in Package</title>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script src="/bootstrap/css/bootstrap.js"></script>

</head>
<body style="background-color: #CCCCFF;">
<div th:replace="fragments/header"></div>
	<div class="container">
		<br>
  		<tr th:each="package_item,iterStat : ${listPItems}" th:if="${iterStat.index} <1">
		
		<div class="h1"><td th:text="${package_item.packages.pname}"></td></tr></div>
		<br>
		<table class="table table-bordered table-hover" border=1 width=100%>
			<thead class=" table-primary">
				<tr>

					<th>Package Item ID</th>
					<th>Item Name</th>
					<th>Item Category</th>
				
		

			</thead>
			<tbody>

				<tr th:each="package_item : ${listPItems}">
						<td th:text="${package_item.package_item_id}"></td>
						<td th:text="${package_item.items.name}"></td>
                        <td th:text="${package_item.items.category}"></td>
                        
                     
						
          
					<td><a th:href="@{/Pitems/delete/{id}(id=${package_item.package_item_id})}"
							onclick="return confirm('Are you sure you want to delete this item?');"
							id="delete_id" sec:authorize="hasRole('ADMIN')">Delete</a></td>
					
					
					</tr>
			
			</tbody>
		</table>
		
		
		
</body>
</html>