<!-- /**
 * 
 * I declare that this code was written by me, Rabiatul Adawiyah. 
 * I will not copy or allow others to copy my code. 
 * I understand that copying code is considered as plagiarism.
 * 
 * Student Name: Rabiatul Adawiyah
 * Student ID: 20021900
 * Class: FYP
 * 
 * 
 */ -->


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>CorpHas- View Users</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script src="/bootstrap/css/bootstrap.js"></script>
<style>
.btn-text-center {
	text-align: center;
}
</style>
</head>
	<div th:replace="fragments/header"></div>	
<body  style="background-color:#FFFACD;">


		<div class="container">
		
		<main class="btn-text-center">
	<br>
			<div class="h1" style= "font-family: 'Georgia', sans-serif;"> Users</div>
<!-- <!-- 			Search function
			<div>
				<form th:action="@{/user}">
					Search: <input type="text" name="keyword" th:value="${keyword}"
						required /> &nbsp; <input class="btn btn-primary" type="submit"
						value="Search" /> &nbsp; <input class="btn btn-warning"
						type="button" value="Clear" onclick="clearFilter()" />
				</form>

				<script type="text/javascript">
					function clearFilter() {
						window.location = '/user'; //redirect back to orignal package page
					}
				</script>
			</div>
			end Search function --> 
			<br>
			<div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
			<table class="table table-bordered table-hover btn-text-center " style= "font-family: 'Poppins', sans-serif;">
				<thead class="table-primary">
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Username</th>
						<th>Email</th>
						<th>Role</th>
						<th>Action</th>
						
					</tr>
				</thead>
				<tbody style= "font-family: 'Cambria', sans-serif;">
					<tr th:each="corpuser : ${listUser}">
						<td th:text="${corpuser.id}"></td>
						<td th:text="${corpuser.name}"></td>
						<td th:text="${corpuser.username}"></td>
						<td th:text="${corpuser.email}"></td>
						<td th:text="${corpuser.role}"></td>
						
						<td><a th:href="@{/users/edit/{id}(id=${corpuser.id})}" class="btn btn-secondary">Edit</a>
							| <a th:href="@{/users/delete/{id}(id=${corpuser.id})}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete account?');" >Delete</a></td>
					</tr>
				</tbody>
			</table>
<a href="/users/add" class="btn btn-primary w3-button w3-orange">Add Users Account</a>
<a href="/users/add/hr"class="btn btn-primary w3-button w3-orange">Add HR Admin Account</a>
<a href="/users/add/cs" class="btn btn-primary w3-button w3-orange">Add Counter staff Account</a>
		</main>
		<div th:replace="fragments/footer"></div>
	</div>
</body>
</html>



