<!-- /**
 * 
 * I declare that this code was written by me, 20023609. 
 * I will not copy or allow others to copy my code. 
 * I understand that copying code is considered as plagiarism.
 * 
 * Student Name: Lorraine Lee and Matthew Ong
 * Student ID: 20023609, 20018528
 * Class: E62F
 * Date created: 2022-Jul-21 9:40:31 pm 
 * 
 */ -->
<style>
.fa-facebook {
	width: 50px;
	height: 150px;
}

.fa-twitter {
	width: 50px;
	height: 150px;
}

.fa-instagram {
	width: 50px;
	height: 150px;
}

.fa:hover {
	opacity: 0.9;
}
a{
padding: 10px;
}
</style>

<footer>
	<div class="mb-3 fixed bottom text-center">
		<a href="#" class="fa fa-instagram float-left"></a> <a href="#"
			class="fa fa-facebook float-left"></a> <a href="#"
			class="fa fa-twitter float-left"></a> <span class="text-muted">

			<a class = "text-muted text-decoration-none" href=#>About Us</a> 
			<a class = "text-muted text-decoration-none"  href=#>Terms Of Service</a> 
			<a class = "text-muted text-decoration-none"  href=#>Privacy Policy</a> 
			<span> &copy; Corphas Parkway Lab </span>

	</div>
</footer>